.footer {
  background-color: #2f2f2f;
  color: #aaa;
  padding: 40px 120px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.footer-logo .logo {
  width: 90px;
  height: auto;
}

.brand-text {
  font-size: 16px;
  color: #aaa;
  margin-top: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
  padding-top: 10px;
  flex-wrap: wrap;
}

.social-icons img {
  width: 32px;
  height: 32px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%) hue-rotate(180deg) brightness(110%) contrast(101%);
  transition: 0.3s;
}

.social-icons img:hover {
  filter: brightness(0) saturate(100%) invert(84%) sepia(9%) saturate(1564%) hue-rotate(176deg) brightness(103%) contrast(101%);
}

.footer-section h4 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  margin: 4px 0;
}

.footer-divider {
  border: none;
  border-top: 1px solid #444;
  margin: 30px 0 15px 0;
}

.footer-bottom {
  font-size: 13px;
  text-align: center;
  color: #666;
}

/* Responsive */
@media (max-width: 1024px) {
  .footer-container {
    justify-content: center;
  }
  .footer-section {
    margin: 15px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-section {
    margin: 15px 0;
  }
  .footer-logo {
    justify-content: center;
  }
  .social-icons {
    justify-content: center;
  }

  .footer-section h4 {
    font-size: 14px;
  }

  .footer-section p {
    font-size: 12px;
  }

}

@media (max-width: 480px) {
  .footer {
    padding: 30px 20px;
  }
  .footer-logo .logo {
    width: 90px;
  }
  .social-icons img {
    width: 28px;
    height: 28px;
  }
}
